/**
 * Created by Aikain on 6.6.2017.
 */

html, body {
   height: 100%;
}
body {
  margin: 0;
}
#app {
  min-height: 100%;
  background: #293A3F url("https://fi.ikariam.gameforge.com/cdn/img/wallpapers/group_1600.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}
.outer-wrapper {
  height: 100%;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-menu {
  background: #373a47;
  overflow: hidden !important;
}
.bm-item-list {
  margin-top: 30px;
}
.bm-item-list li {
  list-style-type: none;
  font-size: 24px;
  color: #FFF;
  padding: 10px 0;
}
.bm-item-list li:hover {
  color: crimson;
  cursor: pointer;
}
