/**
 * Created by Aikain on 7.6.2017.
 */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
.bm-burger-button button {
  cursor: pointer;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-menu {
  background: #373a47;
  overflow: hidden !important;
}
.bm-item-list {
  margin-top: 30px;
}
.bm-item-list li {
  list-style-type: none;
  font-size: 24px;
  color: #FFF;
  padding: 10px 0;
}
.bm-item-list li:hover {
  color: crimson;
  cursor: pointer;
}
