.container {
  width: 1001px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.report-title {
    font-weight: bold;
    text-align: center;
    background-color: #808080;
}

.grid {
    display: grid;
    width: 1001px;
    grid-template-columns: repeat(13, 77px);
    grid-auto-rows: 40px;

    div {
        background-color: #a6a6a6;
        border: 1px black solid;
    }
}

.report-list {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}